.user-dropdown-toggle {
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.user-dropdown-toggle::after {
    margin-left: 0.5rem;
}
.align-center {
    align-items: center;
}
.menu_dropdown {
    background: #19375a2e;
    padding: 0.5rem 0;
    margin: 0.5rem;
}
.set-center {
    align-items: center;

}
textarea.form-control {
    max-width: 100%;
    max-height: 80px;
    padding: 10px 10px 0 0;
    resize: none;
    border: none;
    border-bottom: 1px solid #E3E3E3;
    border-radius: 0;
    line-height: 2;
}

textarea.form-control {
    height: auto;
}
textarea.form-control {
  max-height: initial;
    border: solid 1px #eaeaea;
    border-radius: 1rem !important;
    border-bottom: 1px solid #E3E3E3;
    box-shadow: 2px 2px 12px #f1f1f1;
}